@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-main: #505050;
    --color-sub: #0D96A0;
}

html {
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    word-break: break-all;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    font-size: 10px;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
    color: var(--color-main);
}

.inner {
    max-width: 880px;
    margin-inline: auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width:767px) {
    .pc {
        display: none !important;
    }
}

@media (min-width:768px) {
    .sp {
        display: none !important;
    }
}

#container {
    width: 100%;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 5rem;
    background-color: #efefef;
}

.header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 0.951rem;
}

.header__logo h1 {
    font-weight: 700;
    line-height: calc(33 / 18);
}

@media (max-width:767px) {
    .header__logo h1 {
        font-size: 2rem;
        line-height: calc(33 / 20);
    }
}

.header-nav__items {
    display: flex;
    column-gap: 1rem;
}

.header-nav__item a {
    font-size: 1.4rem;
    line-height: calc(14 / 14);
}