@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-main: #505050;
    --color-sub: #0D96A0;
    --color-border: #707070;
}

html {
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    word-break: break-all;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    font-size: 10px;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
    color: var(--color-main);
    line-height: calc(33 / 18);
    letter-spacing: 0;
}

@media (max-width:767px) {
    .body {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
    }
}

.inner {
    max-width: 88rem;
    margin-inline: auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width:767px) {
    .pc {
        display: none !important;
    }
}

@media (min-width:768px) {
    .sp {
        display: none !important;
    }
}

#container {
    width: 100%;
    overflow: hidden;
}

.section-bg {
    background-color: rgba(13, 150, 160, .102);
}

.section__title {
    text-align: center;
}

.section__title h2 {
    font-weight: 700;
    font-size: 2.5rem;
    display: inline-flex;
    align-items: center;
    position: relative;
    line-height: calc(30 / 25);
    column-gap: 2rem;
}

.section__title h2::before {
    content: "";
    display: inline-block;
    background-image: url("../images/footprint_1.svg");
    width: 2.55rem;
    height: auto;
    aspect-ratio: 25.49 / 25;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.section__title h2::after {
    content: "";
    display: inline-block;
    background-image: url("../images/footprint_1.svg");
    width: 2.55rem;
    height: auto;
    aspect-ratio: 25.49 / 25;
    background-size: contain;
    background-repeat: no-repeat;
}

.ib-span {
    display: inline-block;
}

@media (min-width:768px) {
    .ib-span__pc {
        display: inline-block;
    }
}


.header {
    width: 100%;
    height: 5rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding-inline: 3rem;
    /* padding-left: calc(99 / 1080 * 100vw); */
    /* padding-right: calc(60 / 1080 * 100vw); */
}

@media (max-width:767px) {
    .header {
        padding-inline: 2rem;
    }
}

.header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo h1 {
    font-weight: 700;
    line-height: calc(33 / 18);
}

@media (max-width:767px) {
    .header__logo h1 {
        font-size: 2rem;
        line-height: calc(33 / 20);
    }
}

.header__logo a {
    display: flex;
    align-items: center;
    column-gap: 0.951rem;
    transition: opacity 0.4s;
}

@media (any-hover: hover) {
    .header__logo a:hover {
        opacity: .7;
    }
}

.header-logo__image {
    width: 2.55rem;
}

.header__nav {
    height: 100%;
}

.header-nav__items {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    height: 100%;
}

.header-nav__item {
    height: 100%;
}

.header-nav__item a {
    font-size: 1.4rem;
    line-height: calc(14 / 14);
    transition: color .4s, background .4s;
    display: flex;
    align-items: center;
    height: 100%;
}

@media (any-hover: hover) {
    .header-nav__item a:hover {
        background: var(--color-sub);
        color: #fff;
    }
}

.fv {
    position: relative;
    margin-top: 5rem;
}

.fv__image img {
    aspect-ratio: 1080 / 500;
    object-fit: cover;
}

@media (max-width:767px) {
    .fv__image img {
        aspect-ratio: 375 / 550;
    }
}

.fv__contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fv__inner {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: calc(14 / 1080 * 100vw);
}

@media (max-width:767px) {
    .fv__inner {
        align-items: flex-end;
        padding-top: initial;
    }
}

.fv-contents__textarea {
    background-color: rgba(256, 256, 256, .702);
    padding-block: calc(23 / 1080 * 100vw);
    width: calc(492 / 1080 * 100vw);
    height: calc(210 / 1080 * 100vw);
    padding-left: calc(99 / 1080 * 100vw);
    display: flex;
    align-items: center;
}


@media (max-width:767px) {
    .fv-contents__textarea {
        padding-top: calc(18 / 375 * 100vw);
        padding-bottom: calc(14 / 375 * 100vw);
        width: calc(311 / 375 * 100vw);
        height: calc(148 / 375 * 100vw);
        padding-left: calc(20 / 375 * 100vw);
    }
}

.fv-contents__textarea h2 {
    font-size: calc(25 / 1080 * 100vw);
    font-weight: 700;
}

@media (max-width:767px) {
    .fv-contents__textarea h2 {
        font-size: calc(20 / 375 * 100vw);
        line-height: calc(29 / 20);
    }
}

.fv-contents__textarea span {
    font-size: calc(40 / 1080 * 100vw);
    font-weight: 700;
    line-height: calc(60 / 40);
    color: var(--color-sub);
}

@media (max-width:767px) {
    .fv-contents__textarea span {
        font-size: calc(30 / 375 * 100vw);
        line-height: calc(40 / 30);
    }
}

.greeting {
    padding: 6rem 3rem;
}

@media (max-width:767px) {
    .greeting {
        padding: 4.9rem 2rem 3.9rem;
    }
}

.greeting__textarea {
    text-align: center;
}

.greeting__title {
    color: var(--color-sub);
    font-weight: 700;
    font-size: 3rem;
    line-height: calc(50 / 30);
}

@media (max-width:767px) {
    .greeting__title {
        font-size: 2.5rem;
        line-height: calc(35 / 25);
    }
}

.greeting__message {
    line-height: calc(33 / 18);
    margin-top: 1.5rem;
    position: relative;
}

@media (max-width:767px) {
    .greeting__message {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        margin-top: 1.7rem;
        text-align: left;
    }
}

.greeting .inner {
    position: relative;
}

.greeting__deco {
    position: absolute;
    bottom: -2.612rem;
    right: -2.376rem;
    width: 8.375rem;
    height: auto;
}

@media (max-width:767px) {
    .greeting__deco {
        bottom: 0.757rem;
        right: 0.955rem;
        width: 6.835rem;
        height: auto;
    }
}

.greeting__deco img {
    aspect-ratio: 83.75 / 77.12;
    object-fit: cover;
}

@media (max-width:767px) {
    .greeting__deco img {
        aspect-ratio: 68.35 / 62.94;
    }
}

.features {
    padding: 6.4rem 3rem 6.8rem;
}

@media (max-width:767px) {
    .features {
        padding: 5.1rem 2rem 3.5rem;
    }
}

.features__contents {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    margin-top: 4.8rem;
}

@media (max-width:767px) {
    .features__contents {
        margin-top: 4.2rem;
        row-gap: 4.2rem;
    }
}

.features__wrapper {
    display: flex;
    column-gap: calc(45 / 880 * 100%);
    align-items: center;
    justify-content: space-between;
}

@media (max-width:767px) {
    .features__wrapper {
        flex-direction: column-reverse;
    }
}

.features__wrapper:nth-of-type(even) {
    flex-direction: row-reverse;
}

@media (max-width:767px) {
    .features__wrapper:nth-of-type(even) {
        flex-direction: column-reverse;
    }
}

.features__textarea {
    flex: 1;
}

@media (max-width:767px) {
    .features__title {
        margin-top: 2.6rem;
        text-align: center;
    }
}

.features__title h3 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: calc(33 / 22);
}

@media (max-width:767px) {
    .features__title h3 {
        font-size: 2rem;
        line-height: calc(30 / 20);
    }
}

.features__text {
    margin-top: 1.9rem;
}

@media (max-width:767px) {
    .features__text {
        margin-top: 0.8rem;
    }
}

.features__text p {
    line-height: calc(33 / 18);
}

@media (max-width:767px) {
    .features__text p {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
    }
}

@media (max-width:767px) {
    .features__text span {
        display: inline-block;
    }
}

.features__image {
    width: 50%;
    height: auto;
}

@media (max-width:767px) {
    .features__image {
        width: 100%;
    }
}

.features__image img {
    aspect-ratio: 440 / 247;
    object-fit: cover;
}

@media (max-width:767px) {
    .features__image img {
        aspect-ratio: 335 / 200;
    }
}

.service {
    padding: 6.3rem 3rem 5.9rem;
}

@media (max-width:767px) {
    .service {
        padding: 4.5rem 2rem 3.9rem;
    }
}

.service__contents {
    display: flex;
    column-gap: calc(50 / 880 * 100%);
    margin-top: 4.8rem;
}

@media (max-width:767px) {
    .service__contents {
        flex-direction: column;
        margin-top: 4.4rem;
        row-gap: 3.9rem;
    }
}

.service__items {
    flex: 1;
}

/* @media (max-width:767px) {
    .service__items:not(:first-of-type) {
        margin-top: 3.9rem;
    }
} */

@media (max-width:767px) {
    .service__image {
        width: 100%;
        height: auto;
    }
}

.service__image img {
    aspect-ratio: 260 / 200;
    object-fit: cover;
}

@media (max-width:767px) {
    .service__image img {
        aspect-ratio: 335 / 200;
    }
}

.service__title {
    text-align: center;
    margin-top: 1.9rem;
}

@media (max-width:767px) {
    .service__title {
        margin-top: 3rem;
    }
}

.service__title h3 {
    font-size: 2rem;
    line-height: calc(25 / 20);
    font-weight: 700;
}

@media (max-width:767px) {
    .service__title h3 {
        line-height: calc(30 / 20);
    }
}

.service__text {
    margin-top: 0.8rem;
}

@media (max-width:767px) {
    .service__text {
        margin-top: 0.7rem;
    }
}

.service__text p {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
}

@media (max-width:767px) {
    .service__text p {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
    }
}

/* information */

.information {
    padding: 6.3rem 3rem 6.8rem;
}

@media (max-width:767px) {
    .information {
        padding: 4.3rem 2rem 5rem;
    }
}

.information__contents {
    margin-top: 4.6rem;
}

.information-contents__item {
    border-top: 0.1rem solid var(--color-border);
}

.information-contents__item:last-child {
    border-bottom: 0.1rem solid var(--color-border);
}

.information__items {
    display: flex;
    padding: 1.5rem 1.85rem 1.4rem;
    transition: opacity 0.4s;
    align-items: center;
    column-gap: calc(25 / 880 * 100%);
}

@media (max-width:767px) {
    .information__items {
        flex-direction: column;
        padding: 2.8rem 1rem 2.7rem;
        align-items: start;
        padding-right: 0;
    }
}

.information__items time {
    font-weight: 700;
    font-size: 1.7rem;
    line-height: calc(25 / 17);
    display: block;
}

.information-item__title {
    width: 18.4rem;
}

@media (max-width:767px) {
    .information-item__title {
        width: initial;
        margin-top: 0.2rem;
    }
}

.information-item__title h3 {
    color: var(--color-sub);
    font-weight: 700;
    font-size: 2rem;
    line-height: calc(25 / 20);
}

@media (any-hover: hover) {
    .information__contents a:hover {
        opacity: .7;
    }
}

.information-item__text {
    flex: 1;
}

@media (max-width:767px) {
    .information-item__text {
        margin-top: 0.6rem;
    }
}

.information-item__text p {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
}

@media (max-width:767px) {
    .information-item__text p {
        font-size: 1.6rem;
        line-height: calc(24 / 16);
    }
}

/* access */

.access {
    padding: 6.3rem 3rem 7rem;
}

@media (max-width:767px) {
    .access {
        padding: 4.3rem 2rem 5rem;
    }
}

.access__contents {
    display: flex;
    margin-top: 4.6rem;
    column-gap: calc(46 / 880 * 100%);
}

@media (max-width:767px) {
    .access__contents {
        flex-direction: column;
        row-gap: 3rem;
    }
}

.access__map {
    width: 50%;
}

@media (max-width:767px) {
    .access__map {
        width: 100%;
    }
}

.access__map iframe {
    width: 100%;
    height: 100%;
    display: block;
}

@media (max-width:767px) {
    .access__map iframe {
        height: auto;
        aspect-ratio: 335 / 222;
    }
}

.access__company {
    flex: 1;
}

.address__title p {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: calc(33 / 22);
}

.address__detail {
    margin-top: 1.5rem;
}

@media (max-width:767px) {
    .address__detail {
        margin-top: 1.2rem;
    }
}

.address__detail p {
    line-height: calc(27 / 18);
}

@media (max-width:767px) {
    .address__detail p {
        font-size: 1.6rem;
        line-height: calc(24 / 16);
    }
}

.address__phone {
    margin-top: 1.4rem;
}

@media (max-width:767px) {
    .address__phone {
        margin-top: 0.6rem;
    }
}

.tel__title {
    line-height: calc(27 / 18);
}

@media (max-width:767px) {
    .tel__title {
        font-size: 1.6rem;
        line-height: calc(27 / 16);
    }
}

.address__phone a {
    font-weight: 700;
    color: var(--color-sub);
    font-size: 2.5rem;
    line-height: calc(40 / 25);
}

.tel-pc {
    font-weight: 700;
    color: var(--color-sub);
    font-size: 2.5rem;
    line-height: calc(40 / 25);
}

.address__email {
    line-height: calc(27 / 18);
    margin-top: 0.8rem;
}

@media (max-width:767px) {
    .address__email {
        margin-top: 0.7rem;
        font-size: 1.6rem;
        line-height: calc(24 / 16);
    }
}

.address__email a {
    transition: opacity 0.4s;
    cursor: pointer;
}

@media (any-hover: hover) {
    .address__email a:hover {
        opacity: .7;
    }
}

.address__business {
    margin-top: 2.7rem;
    border-block: 0.1rem solid var(--color-border);
    padding: 1.5rem 0 1.4rem;
}

@media (max-width:767px) {
    .address__business {
        margin-top: 1.4rem;
        padding-block: 1.2rem;
    }
}

.office__hours p {
    line-height: calc(40 / 18);
}

@media (max-width:767px) {
    .office__hours p {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
    }
}

/* contact */

.contact {
    padding: 6.2rem 3rem 8rem;
}

@media (max-width:767px) {
    .contact {
        padding: 4.3rem 2rem 5rem;
    }
}

.contact__text {
    text-align: center;
    margin-top: 2.5rem;
}

@media (max-width:767px) {
    .contact__text {
        text-align: left;
        margin-top: 4.3rem;
        display: flex;
        justify-content: center;
    }
}

.contact__text p {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
}

@media (max-width:767px) {
    .contact__text p {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
    }
}

.form {
    margin-top: 3.9rem;
}

@media (max-width:767px) {
    .form {
        margin-top: 3.4rem;
    }
}

.form__area {
    display: flex;
}

@media (max-width:767px) {
    .form__area {
        flex-direction: column;
        row-gap: 0.2rem;
    }
}

.form__area:not(:first-of-type) {
    margin-top: 3rem;
}

@media (max-width:767px) {
    .form__area:not(:first-of-type) {
        margin-top: 1.7rem;
    }
}

.form__area label {
    width: 16.9rem;
    height: 4rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    line-height: calc(33 / 20);
}

@media (max-width:767px) {
    .form__area label {
        width: 100%;
        height: initial;
        font-size: 1.8rem;
        line-height: calc(33 / 18);
    }
}

.form-control {
    flex: 1;
    background-color: #fff;
    width: 100%;
    height: 4rem;
    padding-inline: 1rem;
    display: block;
    line-height: calc(40 / 17);
    font-size: 1.7rem;
}

@media (max-width:767px) {
    .form-control {
        flex: initial;
        height: 5rem;
        font-size: 1.6rem;
        line-height: calc(40 / 16);
    }
}

.form-textarea {
    height: 30rem;
    padding: 1rem;
    resize: none;
}

.form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.submit-button {
    font-size: 2.5rem;
    line-height: calc(33 / 25);
    font-weight: 700;
    width: 20rem;
    height: 5rem;
    background-color: var(--color-sub);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
    border: 0.2rem solid var(--color-sub);
    transition: color .4s, background .4s;
}

@media (max-width:767px) {
    .submit-button {
        width: 33.5rem;
        height: 4.1rem;
        font-size: 2rem;
        line-height: calc(26 / 20);
    }
}

@media (any-hover: hover) {
    .submit-button:hover {
        background: #fff;
        color: var(--color-sub);
    }
}

/* footer */

.footer {
    background: var(--color-main);
    color: #fff;
    width: 100%;
    height: 28rem;
    padding: 6.6rem 3rem 7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width:767px) {
    .footer {
        padding: 4.5rem 2rem 5rem;
    }
}

.footer .inner {
    width: 100%;
}

.footer__contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .footer__nav {
    position: relative;
}

.footer__nav::after {
    content: '';
    position: absolute;
    background: #fff;
    width: 73.7rem;
    max-width: 100%;
    top: calc(100% + 1.9rem);
    left: 50%;
    transform: translateX(-50%);
    height: 0.1rem;
}

@media (max-width:767px) {
    .footer__nav::after {
        width: 100%;
    }
} */

.footer__nav {
    width: 100%;
    max-width: 73.7rem;
    padding-bottom: 2.1rem;
    border-bottom: 0.1rem solid #fff;
}

.footer-nav__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-nav__item a {
    padding-inline: 0.7rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(33 / 20);
    transition: background .4s, color .4s;
    cursor: pointer;
}

@media (any-hover: hover) {
    .footer-nav__item a:hover {
        background: #fff;
        color: var(--color-main);
    }
}

@media (max-width:767px) {
    .footer-nav__item a {
        font-size: 1.8rem;
        line-height: calc(33 / 18);
        padding-inline: 1rem;
    }
}

.footer__copy {
    text-align: center;
    margin-top: 2.7rem;
}

@media (max-width:767px) {
    .footer__copy {
        margin-top: 1.5rem;
    }
}

.footer__copy small {
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(33 / 20);
}

@media (max-width:767px) {
    .footer__copy small {
        font-size: 1.6rem;
        line-height: calc(33 / 16);
    }
}

.footer-link__items {
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.2rem;
}

@media (max-width:767px) {
    .footer-link__items {
        margin-top: 2.8rem;
    }
}

.footer-link__item a {
    display: block;
    transition: transform 0.4s;
    cursor: pointer;
}

@media (any-hover: hover) {
    .footer-link__item a:hover {
        transform: scale(1.2);
    }
}

.twitter {
    width: 2.237rem;
}

.facebook {
    width: 2.246rem;
}

.youtube {
    width: 2.234rem;
}

.instagram {
    width: 1.98rem;
}