@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-main: #505050;
    --color-sub: #0D96A0;
    --color-border: #707070
}

html {
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    word-break: break-all;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    font-size: 10px;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
    color: var(--color-main);
}

.inner {
    max-width: 88rem;
    margin-inline: auto;
}

/* @media (max-width:767px) {
    .inner {
        padding-inline: 2rem;
    }
} */

img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width:767px) {
    .pc {
        display: none !important;
    }
}

@media (min-width:768px) {
    .sp {
        display: none !important;
    }
}

#container {
    width: 100%;
    overflow: hidden;
}

.section__title {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
}

.section__title h2 {
    display: inline-block;
    position: relative;
}

.section__title h2::before {
    position: absolute;
    top: 0.7rem;
    left: -2rem;
    transform:translateX(-100%);
    content: "";
    display: inline-block;
    background-image: url("../images/足跡_1.svg");
    width: 2.55rem;
    height: 2.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.8rem;
}

.section__title h2::after {
    position: absolute;
    top: 0.7rem;
    right: -2rem;
    transform: translateX(100%);
    content: "";
    display: inline-block;
    background-image: url("../images/足跡_1.svg");
    width: 2.55rem;
    height: 2.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.8rem;
}

.header {
    width: 100%;
    height: 5rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 999;
    padding-inline: 3rem;
}

.header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 0.951rem;
}

.header__logo h1 {
    font-weight: 700;
    line-height: calc(33 / 18);
}

@media (max-width:767px) {
    .header__logo h1 {
        font-size: 2rem;
        line-height: calc(33 / 20);
    }
}

.header__logo a {
    transition: opacity 0.4s;
}

@media (any-hover: hover) {
    .header__logo a:hover {
        opacity: .7;
    }
}

.header-logo__image img {
    width: 2.55rem;
    height: 2.5rem;
}

.header-nav__items {
    display: flex;
    column-gap: 1rem;
}

.header-nav__item a {
    font-size: 1.4rem;
    line-height: calc(14 / 14);
    transition: opacity 0.4s;
}

@media (any-hover: hover) {
    .header-nav__item a:hover {
        opacity: .7;
    }
}

.fv {
    position: relative;
    margin-top: 5rem;
}

.fv__image img {
    aspect-ratio: 1080 / 500;
    object-fit: cover;
}

@media (max-width:767px) {
    .fv__image img {
        aspect-ratio: 375 / 550;
        object-fit: cover;
    }
}

.fv__contents {
    position: absolute;
    top: calc(152 / 500 * 100%);
    left: 0;
    background-color: rgba(256, 256, 256, .702);
    width: calc(492 / 1080 * 100vw);
    padding-inline: 3rem;
}

@media (max-width:767px) {
    .fv__contents {
        top: inherit;
        bottom: 0;
        width: calc(311 / 375 * 100vw);
    }
}

.fv__contents .inner {
    /* padding-inline: 30px; */
}

.fv-contents__textarea {
    padding-block: calc(23 / 500 * 100%);
}

@media (max-width:767px) {
    .fv-contents__textarea {
        padding-top: calc(18 / 550 * 100%);
    }
}

.fv-contents__textarea h2 {
    font-size: calc(25 / 1080 * 100vw);
    font-weight: 700;
}

@media (max-width:767px) {
    .fv-contents__textarea h2 {
        font-size: calc(20 / 375 * 100vw);
    }
}

.fv-contents__textarea p {
    font-size: calc(40 / 1080 * 100vw);
    font-weight: 700;
    line-height: calc(60 / 40);
    color: var(--color-sub);
    margin-top: calc(14 / 500 * 100%);
}

@media (max-width:767px) {
    .fv-contents__textarea p {
        font-size: calc(30 / 375 * 100vw);
        line-height: calc(40 / 30);
    }
}

.greeting {
    position: relative;
    padding: 6rem 3rem;
}

@media (max-width:767px) {
    .greeting {
        padding: 4.9rem 2rem 3.9rem;
    }
}

.greeting__textarea {
    text-align: center;
}

.greeting__title {
    color: var(--color-sub);
    font-weight: 700;
    font-size: 3rem;
    line-height: calc(50 / 30);
}

.greeting__message {
    line-height: calc(33 / 18);
    margin-top: 1.5rem;
}

@media (max-width:767px) {
    .greeting__message {
        line-height: calc(30 / 16);
        margin-top: 1.7rem;
        text-align: left;
    }
}

.greeting__deco img {
    position: absolute;
    /* aspect-ratio: 83.75 / 77.12;
    object-fit: cover; */
    width: 8.375rem;
    height: auto;
    right: calc(76.24 / 1080 * 100vw);
    bottom: calc(33.88 / 284 * 100%);
}

.features {
    background-color: rgba(13, 150, 160, .102);
    padding: 6.4rem 3rem 6.8rem;
}

@media (max-width:767px) {
    .features {
        padding: 5.1rem 2rem 3.5rem;
    }
}

.features__wrapper {
    margin-top: 5.4rem;
    display: flex;
    column-gap: 4.6rem;
}

@media (max-width:767px) {
    .features__wrapper {
        margin-top: 4.2rem;
        flex-direction: column-reverse;
    }
}

.features__wrapper:nth-of-type(odd) {
    flex-direction: row-reverse;
}

@media (max-width:767px) {
    .features__wrapper:nth-of-type(odd) {
        flex-direction: column-reverse;
    }
}

.features__title {
    margin-top: 4.8rem;
}

@media (max-width:767px) {
    .features__title {
        margin-top: 2.6rem;
    }
}

.features__title h3 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: calc(33 / 22);
}

.features__text {
    margin-top: 1.9rem;
}

@media (max-width:767px) {
    .features__text {
        margin-top: 0.8rem;
    }
}

.features__text p {
    line-height: calc(33 / 18);
}

.features__image img {
    aspect-ratio: 440 / 247;
    object-fit: cover;
}

@media (max-width:767px) {
    .features__image img {
        aspect-ratio: 335 / 200;
        width: 100%;
    }
}

.service {
    padding: 6.3rem 3rem 5.9rem;
}

@media (max-width:767px) {
    .service {
        padding: 4.5rem 2rem 3.9rem;
    }
}

.service__contents {
    display: flex;
    column-gap: calc(50 / 880 * 100%);
    margin-top: 5.4rem;
}

@media (max-width:767px) {
    .service__contents {
        flex-direction: column;
        margin-top: 5rem;
    }
}

/* .service__image {
    width: calc(260 / 880 * 100%);
} */

.service__image img {
    aspect-ratio: 260 / 200;
    object-fit: cover;
}

@media (max-width:767px) {
    .service__image img {
        aspect-ratio: 335 / 200;
    }
}

.service__title {
    text-align: center;
    margin-top: 1.9rem;
}

@media (max-width:767px) {
    .service__title {
        margin-top: 3rem;
    }
}

.service__title h3 {
    font-size: 2rem;
    line-height: calc(25 / 20);
    font-weight: 700;
}

@media (max-width:767px) {
    .service__title h3 {
        line-height: calc(30 / 20);
    }
}

.service__text {
    margin-top: 0.8rem;
}

@media (max-width:767px) {
    .service__text {
        margin-top: 0.7rem;
    }
}

.service__text p {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
}

@media (max-width:767px) {
    .service__text p {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
    }
}

.information {
    background-color: rgba(13, 150, 160, .102);
    padding: 6.3rem 3rem 6.8rem;
}
@media (max-width:767px) {
    .information {
        padding: 4.3rem 2rem 5rem;
    }
}

.information__contents {
    margin-top: 5.2rem;
}

.information__items {
    display: flex;
    padding-block: 1.5rem;
    border-top: 0.1rem solid var(--color-border);
}

.information__items:last-child {
    border-bottom: 0.1rem solid var(--color-border);
}

@media (max-width:767px) {
    .information__items {
        flex-direction: column;
    }
}

.information__items time {
    font-weight: 700;
    font-size: 1.7rem;
    line-height: calc(25 / 17);
}

.information__items a {
    color: var(--color-sub);
    font-weight: 700;
    font-size: 2rem;
    line-height: calc(25 / 20);
    transition: opacity 0.4s;
}

@media (any-hover: hover) {
    .information__items a:hover {
        opacity: .7;
    }
}

.information__items p {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
}

.access {
    padding: 6.3rem 3rem 7rem;
}

@media (max-width:767px) {
    .access {
        padding: 4.3rem 2rem 5rem;
    }
}

.access__contents {
    display: flex;
    margin-top: 5.2rem;
    column-gap: calc(46 / 880 * 100%);
}

@media (max-width:767px) {
    .access__contents {
        flex-direction: column;
    }
}

@media (max-width:767px) {
    .address__title {
        margin-top: 3rem;
    }
}

.address__title h3 {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: calc(33 / 22);
}

.address__detail {
    margin-top: 1.5rem;
}

@media (max-width:767px) {
    .address__detail{
        margin-top: 1.2rem;
    }
}

.address__detail address {
    line-height: calc(27 / 18);
}

.address__phone {
    display: flex;
    align-items: baseline;
    margin-top: 1.4rem;
}

@media (max-width:767px) {
    .address__phone {
        margin-top: 0.6rem;
    }
}

.address__phone p {
    line-height: calc(27 / 18);
}

.address__phone a {
    font-weight: 700;
    color: var(--color-sub);
    font-size: 2.5rem;
    line-height: calc(40 / 25);
}

.address__email {
    display: flex;
    line-height: calc(27 / 18);
    margin-top: 0.8rem;
}

@media (max-width:767px) {
    .address__email {
        margin-top: 0.7rem;
    }
}

.address__business {
    margin-top: 2.7rem;
    border-block: 0.1rem solid var(--color-border);
    padding-block: 1.5rem;
}

@media (max-width:767px) {
    .address__business {
        margin-top: 1.4rem;
        padding-block: 1.2rem;
    }
}

.office__hours p {
    line-height: calc(40 / 18);
}